In [1]:
employeeData = [["Ali", 35000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
				["Khalid", 44000, "DBA"]]

# Employees With Salary >50000

In [15]:
for i in employeeData:
    if i[1] > 50000:
        print(i[0])

Talha
Nasir

# Calculating Total Salary

In [12]:
salary=0
for i in employeeData:
    salary+=i[1]
print("Total Salary = ",salary)

Total Salary =  213000

# LISTS UPDATE TASKS

# Changing Salary and Designation Of Nasir

In [17]:
for i in employeeData:
    if i[0]=="Nasir":
        i[1]=90000
        i[2]="Product Manager"
print(employeeData[2])

['Nasir', 90000, 'Product Manager']

# Changing Salary Of Khalid

In [16]:
for i in employeeData:
    if i[0]=="Khalid":
        i[1]=50000
print(employeeData[3])

['Khalid', 50000, 'DBA']