In [11]:
StudentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]

# ADD VALUES USING APPEND

In [14]:
StudentData.append("20th Feburary 2019")  
StudentData.append(8) 
print(StudentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture', '20th Feburary 2019', 8, '20th Feburary 2019', 8, '20th Feburary 2019', 8]

# ADD VALUES USING INSERT

In [15]:
StudentData.insert(4,25000)
print(StudentData)

['Ali Raza', 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture', '20th Feburary 2019', 8, '20th Feburary 2019', 8, '20th Feburary 2019', 8]

In [16]:
StudentData.insert(1,"M. Iqbal")
print(StudentData)

['Ali Raza', 'M. Iqbal', 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture', '20th Feburary 2019', 8, '20th Feburary 2019', 8, '20th Feburary 2019', 8]

# UPDATING VALUES

In [18]:
StudentData[0]="Zohaib Ali"
StudentData[6]=7
print(StudentData)

['Zohaib Ali', 'M. Iqbal', 22, 91.24, 'Computer Science', 25000, 7, 'University of Agriculture', '20th Feburary 2019', 8, '20th Feburary 2019', 8, '20th Feburary 2019', 8]

# REMOVING VALUES USING REMOVE()

In [19]:
StudentData.remove("Computer Science")
StudentData.remove(91.24)
print(StudentData)

['Zohaib Ali', 'M. Iqbal', 22, 25000, 7, 'University of Agriculture', '20th Feburary 2019', 8, '20th Feburary 2019', 8, '20th Feburary 2019', 8]

# REMOVING VALUES USING POP()

In [20]:
digit=StudentData.pop(-1)

In [21]:
print(StudentData)

['Zohaib Ali', 'M. Iqbal', 22, 25000, 7, 'University of Agriculture', '20th Feburary 2019', 8, '20th Feburary 2019', 8, '20th Feburary 2019']

In [22]:
salary=StudentData.pop(3)
print(StudentData)

['Zohaib Ali', 'M. Iqbal', 22, 7, 'University of Agriculture', '20th Feburary 2019', 8, '20th Feburary 2019', 8, '20th Feburary 2019']